#InfoMain{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

#FoodBox{
    width: 30%;
    height: 95%;
    background-color: white;
}

#StatsBox{
    width: 30%;
    height: 95%;
    background-color: rgb(207, 200, 200);
    padding: 2%;
   
}

#WorkBox{
    width: 30%;
    height: 95%;
    background-color: white;
}